In [1]:
import psycopg2 as ps
import psycopg2.extras as e
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [19]:

PATH_SPLIT_DATA='/Users/piushagullapalli/Documents/Spring_22/645/Project/seeDb/seeDB/Data/splits'

def split_data(splits):
    data_raw = pd.read_csv(r'/Users/piushagullapalli/Documents/Spring_22/645/Project/seeDb/seeDB/Data/adult.data.txt')
    data_split = np.array_split(data_raw, splits)
    for k in range(0, len(data_split)):
        data_split[k].to_csv(os.path.join(PATH_SPLIT_DATA ,"split_{}.csv".format(k)),encoding='utf-8', index=False)

split_data(10)

In [21]:
# connect to database
con = ps.connect("dbname='piushagullapalli' user='piushagullapalli' host='localhost' password=''")
curs = con.cursor()

In [22]:
curs.execute("""create view married as 
                   select * from census where marital_status in (' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent',' Separated');
           create view unmarried as 
                   select * from census where marital_status in (' Never-married', ' Widowed',' Divorced');""")
con.commit()

curs.execute("SELECT sex, avg(capital_gain) FROM married GROUP BY sex;")
target = curs.fetchall()

curs.execute("SELECT sex, avg(capital_gain) FROM unmarried GROUP BY sex;")
ref = cur.fetchall()

def create_plot(afm, reference, target):
    group_attr,function, measure = afm
    ##TODO